<%= form_for(@log_record_type) do |f| %>
  <% if @log_record_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log_record_type.errors.count, "error") %> prohibited this log_record_type from being saved:</h2>

      <ul>
      <% @log_record_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :MDType %><br>
    <%= f.number_field :MDType %>
  </div>
  <div class="field">
    <%= f.label :LRTypeDescription %><br>
    <%= f.text_area :LRTypeDescription %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
