<p id="notice"><%= notice %></p>

<h1>Listing Log Record Types</h1>

<table>
  <thead>
    <tr>
      <th>Mdtype</th>
      <th>Lrtypedescription</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @log_record_types.each do |log_record_type| %>
      <tr>
        <td><%= log_record_type.MDType %></td>
        <td><%= log_record_type.LRTypeDescription %></td>
        <td><%= link_to 'Show', log_record_type %></td>
        <td><%= link_to 'Edit', edit_log_record_type_path(log_record_type) %></td>
        <td><%= link_to 'Destroy', log_record_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Log record type', new_log_record_type_path %>
