<p id="notice"><%= notice %></p>

<p>
  <strong>Mdtype:</strong>
  <%= @log_record_type.MDType %>
</p>

<p>
  <strong>Lrtypedescription:</strong>
  <%= @log_record_type.LRTypeDescription %>
</p>

<%= link_to 'Edit', edit_log_record_type_path(@log_record_type) %> |
<%= link_to 'Back', log_record_types_path %>
