<p id="notice"><%= notice %></p>

<p>
  <strong>Masterdataid:</strong>
  <%= @note.MasterDataID %>
</p>

<p>
  <strong>User:</strong>
  <%= @note.User %>
</p>

<p>
  <strong>Notesobject:</strong>
  <%= @note.NotesObject %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
