<%= form_for(@master_data_subtype) do |f| %>
  <% if @master_data_subtype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@master_data_subtype.errors.count, "error") %> prohibited this master_data_subtype from being saved:</h2>

      <ul>
      <% @master_data_subtype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :MDType %><br>
    <%= f.number_field :MDType %>
  </div>
  <div class="field">
    <%= f.label :MDSubtypeName %><br>
    <%= f.text_area :MDSubtypeName %>
  </div>
  <div class="field">
    <%= f.label :SpiritClass %><br>
    <%= f.number_field :SpiritClass %>
  </div>
  <div class="field">
    <%= f.label :UPC %><br>
    <%= f.number_field :UPC %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
