<p id="notice"><%= notice %></p>

<h1>Listing Input Types</h1>

<table>
  <thead>
    <tr>
      <th>Mdtype</th>
      <th>Inputtypedescription</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @input_types.each do |input_type| %>
      <tr>
        <td><%= input_type.MDType %></td>
        <td><%= input_type.InputTypeDescription %></td>
        <td><%= link_to 'Show', input_type %></td>
        <td><%= link_to 'Edit', edit_input_type_path(input_type) %></td>
        <td><%= link_to 'Destroy', input_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Input type', new_input_type_path %>
