<%= form_for(@spirit_class) do |f| %>
  <% if @spirit_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spirit_class.errors.count, "error") %> prohibited this spirit_class from being saved:</h2>

      <ul>
      <% @spirit_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ClassName %><br>
    <%= f.text_area :ClassName %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
