<p id="notice"><%= notice %></p>

<h1>Listing Spirit Classes</h1>

<table>
  <thead>
    <tr>
      <th>Classname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spirit_classes.each do |spirit_class| %>
      <tr>
        <td><%= spirit_class.ClassName %></td>
        <td><%= link_to 'Show', spirit_class %></td>
        <td><%= link_to 'Edit', edit_spirit_class_path(spirit_class) %></td>
        <td><%= link_to 'Destroy', spirit_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spirit class', new_spirit_class_path %>
