<%= form_for(@master_datum) do |f| %>
  <% if @master_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@master_datum.errors.count, "error") %> prohibited this master_datum from being saved:</h2>

      <ul>
      <% @master_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :MDDateTime %><br>
    <%= f.datetime_select :MDDateTime %>
  </div>
  <div class="field">
    <%= f.label :ReferenceID %><br>
    <%= f.text_field :ReferenceID %>
  </div>
  <div class="field">
    <%= f.label :MDType %><br>
    <%= f.number_field :MDType %>
  </div>
  <div class="field">
    <%= f.label :MDSubtype %><br>
    <%= f.number_field :MDSubtype %>
  </div>
  <div class="field">
    <%= f.label :Vessel %><br>
    <%= f.number_field :Vessel %>
  </div>
  <div class="field">
    <%= f.label :ClearingStatus %><br>
    <%= f.number_field :ClearingStatus %>
  </div>
  <div class="field">
    <%= f.label :ClearingDateTime %><br>
    <%= f.datetime_select :ClearingDateTime %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
