<p id="notice"><%= notice %></p>

<h1>Listing Master Data</h1>

<table>
  <thead>
    <tr>
      <th>Mddatetime</th>
      <th>Referenceid</th>
      <th>Mdtype</th>
      <th>Mdsubtype</th>
      <th>Vessel</th>
      <th>Clearingstatus</th>
      <th>Clearingdatetime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @master_data.each do |master_datum| %>
      <tr>
        <td><%= master_datum.MDDateTime %></td>
        <td><%= master_datum.ReferenceID %></td>
        <td><%= master_datum.MDType %></td>
        <td><%= master_datum.MDSubtype %></td>
        <td><%= master_datum.Vessel %></td>
        <td><%= master_datum.ClearingStatus %></td>
        <td><%= master_datum.ClearingDateTime %></td>
        <td><%= link_to 'Show', master_datum %></td>
        <td><%= link_to 'Edit', edit_master_datum_path(master_datum) %></td>
        <td><%= link_to 'Destroy', master_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Master datum', new_master_datum_path %>
