<p id="notice"><%= notice %></p>

<h1>Listing Vessels</h1>

<table>
  <thead>
    <tr>
      <th>Vesseltype</th>
      <th>Vesselname</th>
      <th>Receivedondate</th>
      <th>Capacity</th>
      <th>New</th>
      <th>Material</th>
      <th>Retired</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vessels.each do |vessel| %>
      <tr>
        <td><%= vessel.VesselType %></td>
        <td><%= vessel.VesselName %></td>
        <td><%= vessel.ReceivedOnDate %></td>
        <td><%= vessel.Capacity %></td>
        <td><%= vessel.New %></td>
        <td><%= vessel.Material %></td>
        <td><%= vessel.Retired %></td>
        <td><%= link_to 'Show', vessel %></td>
        <td><%= link_to 'Edit', edit_vessel_path(vessel) %></td>
        <td><%= link_to 'Destroy', vessel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vessel', new_vessel_path %>
