<p id="notice"><%= notice %></p>

<h1>Listing Input Items</h1>

<table>
  <thead>
    <tr>
      <th>Inputtype</th>
      <th>Inputitemname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @input_items.each do |input_item| %>
      <tr>
        <td><%= input_item.InputType %></td>
        <td><%= input_item.InputItemName %></td>
        <td><%= link_to 'Show', input_item %></td>
        <td><%= link_to 'Edit', edit_input_item_path(input_item) %></td>
        <td><%= link_to 'Destroy', input_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Input item', new_input_item_path %>
