<p id="notice"><%= notice %></p>

<p>
  <strong>Inputtype:</strong>
  <%= @input_item.InputType %>
</p>

<p>
  <strong>Inputitemname:</strong>
  <%= @input_item.InputItemName %>
</p>

<%= link_to 'Edit', edit_input_item_path(@input_item) %> |
<%= link_to 'Back', input_items_path %>
