<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :TRDateTime %><br>
    <%= f.datetime_select :TRDateTime %>
  </div>
  <div class="field">
    <%= f.label :TrUser %><br>
    <%= f.text_area :TrUser %>
  </div>
  <div class="field">
    <%= f.label :DepositID %><br>
    <%= f.number_field :DepositID %>
  </div>
  <div class="field">
    <%= f.label :WithdrawalID %><br>
    <%= f.number_field :WithdrawalID %>
  </div>
  <div class="field">
    <%= f.label :PostingDate %><br>
    <%= f.datetime_select :PostingDate %>
  </div>
  <div class="field">
    <%= f.label :AppProof %><br>
    <%= f.text_field :AppProof %>
  </div>
  <div class="field">
    <%= f.label :Temp %><br>
    <%= f.text_field :Temp %>
  </div>
  <div class="field">
    <%= f.label :ActProof %><br>
    <%= f.text_field :ActProof %>
  </div>
  <div class="field">
    <%= f.label :Weight %><br>
    <%= f.text_field :Weight %>
  </div>
  <div class="field">
    <%= f.label :PG %><br>
    <%= f.text_field :PG %>
  </div>
  <div class="field">
    <%= f.label :Gallons %><br>
    <%= f.text_field :Gallons %>
  </div>
  <div class="field">
    <%= f.label :Bottles %><br>
    <%= f.text_field :Bottles %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
