<p id="notice"><%= notice %></p>

<h1>Listing Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Trdatetime</th>
      <th>Truser</th>
      <th>Depositid</th>
      <th>Withdrawalid</th>
      <th>Postingdate</th>
      <th>Appproof</th>
      <th>Temp</th>
      <th>Actproof</th>
      <th>Weight</th>
      <th>Pg</th>
      <th>Gallons</th>
      <th>Bottles</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.TRDateTime %></td>
        <td><%= transaction.TrUser %></td>
        <td><%= transaction.DepositID %></td>
        <td><%= transaction.WithdrawalID %></td>
        <td><%= transaction.PostingDate %></td>
        <td><%= transaction.AppProof %></td>
        <td><%= transaction.Temp %></td>
        <td><%= transaction.ActProof %></td>
        <td><%= transaction.Weight %></td>
        <td><%= transaction.PG %></td>
        <td><%= transaction.Gallons %></td>
        <td><%= transaction.Bottles %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
