<%= form_for(@log) do |f| %>
  <% if @log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% @log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :MasterDataID %><br>
    <%= f.number_field :MasterDataID %>
  </div>
  <div class="field">
    <%= f.label :LogType %><br>
    <%= f.number_field :LogType %>
  </div>
  <div class="field">
    <%= f.label :LDateTime %><br>
    <%= f.datetime_select :LDateTime %>
  </div>
  <div class="field">
    <%= f.label :LpH %><br>
    <%= f.text_field :LpH %>
  </div>
  <div class="field">
    <%= f.label :LTemp %><br>
    <%= f.text_field :LTemp %>
  </div>
  <div class="field">
    <%= f.label :LGravity %><br>
    <%= f.text_field :LGravity %>
  </div>
  <div class="field">
    <%= f.label :LBrix %><br>
    <%= f.text_field :LBrix %>
  </div>
  <div class="field">
    <%= f.label :LAppProof %><br>
    <%= f.text_field :LAppProof %>
  </div>
  <div class="field">
    <%= f.label :LActProof %><br>
    <%= f.text_field :LActProof %>
  </div>
  <div class="field">
    <%= f.label :LWeight %><br>
    <%= f.text_field :LWeight %>
  </div>
  <div class="field">
    <%= f.label :LPG %><br>
    <%= f.text_field :LPG %>
  </div>
  <div class="field">
    <%= f.label :LGallons %><br>
    <%= f.text_field :LGallons %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
