<p id="notice"><%= notice %></p>

<h1>Listing Logs</h1>

<table>
  <thead>
    <tr>
      <th>Masterdataid</th>
      <th>Logtype</th>
      <th>Ldatetime</th>
      <th>Lph</th>
      <th>Ltemp</th>
      <th>Lgravity</th>
      <th>Lbrix</th>
      <th>Lappproof</th>
      <th>Lactproof</th>
      <th>Lweight</th>
      <th>Lpg</th>
      <th>Lgallons</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.MasterDataID %></td>
        <td><%= log.LogType %></td>
        <td><%= log.LDateTime %></td>
        <td><%= log.LpH %></td>
        <td><%= log.LTemp %></td>
        <td><%= log.LGravity %></td>
        <td><%= log.LBrix %></td>
        <td><%= log.LAppProof %></td>
        <td><%= log.LActProof %></td>
        <td><%= log.LWeight %></td>
        <td><%= log.LPG %></td>
        <td><%= log.LGallons %></td>
        <td><%= link_to 'Show', log %></td>
        <td><%= link_to 'Edit', edit_log_path(log) %></td>
        <td><%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Log', new_log_path %>
