<p id="notice"><%= notice %></p>

<p>
  <strong>Masterdataid:</strong>
  <%= @log.MasterDataID %>
</p>

<p>
  <strong>Logtype:</strong>
  <%= @log.LogType %>
</p>

<p>
  <strong>Ldatetime:</strong>
  <%= @log.LDateTime %>
</p>

<p>
  <strong>Lph:</strong>
  <%= @log.LpH %>
</p>

<p>
  <strong>Ltemp:</strong>
  <%= @log.LTemp %>
</p>

<p>
  <strong>Lgravity:</strong>
  <%= @log.LGravity %>
</p>

<p>
  <strong>Lbrix:</strong>
  <%= @log.LBrix %>
</p>

<p>
  <strong>Lappproof:</strong>
  <%= @log.LAppProof %>
</p>

<p>
  <strong>Lactproof:</strong>
  <%= @log.LActProof %>
</p>

<p>
  <strong>Lweight:</strong>
  <%= @log.LWeight %>
</p>

<p>
  <strong>Lpg:</strong>
  <%= @log.LPG %>
</p>

<p>
  <strong>Lgallons:</strong>
  <%= @log.LGallons %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
