<%= form_for(@master_data_type) do |f| %>
  <% if @master_data_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@master_data_type.errors.count, "error") %> prohibited this master_data_type from being saved:</h2>

      <ul>
      <% @master_data_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :MDTypeName %><br>
    <%= f.text_area :MDTypeName %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
